<mfe-header></mfe-header>
<main class="e_HomePage">
  @for (t of teasers(); track t.title) {
  <a class="e_HomePage__categoryLink" [appNavigateTo]="t.link.intent" [navPayload]="t.link.params ?? {}">
    <img
      [src]="t.src"
      [srcset]="t.srcset"
      sizes="100vw, (min-width: 500px) 50vw"
      alt=""
    />
    {{ t.title }}
  </a>
  }
  <div class="e_HomePage__recommendations">
    <mfe-recommendations [skus]="seedSkus"></mfe-recommendations>
  </div>
</main>
<mfe-footer></mfe-footer>
