<header class="e_Header" data-boundary="explore">
  <div class="e_Header__cutter">
    <div class="e_Header__inner">
      <a class="e_Header__link" [appNavigateTo]="'explore.home'">
        <img
          class="e_Header__logo"
          [src]="logoUrl"
          alt="Micro Frontends - Tractor Store"
        />
      </a>
      <div class="e_Header__navigation">
        <app-navigation></app-navigation>
      </div>
      <div class="e_Header__cart">
        <mfe-mini-cart></mfe-mini-cart>
      </div>
    </div>
  </div>
</header>
